<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <clear/>
            <add name="httpplatformhandler" path="server/*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform processPath="%DART_SDK%\bin\dart.exe" 
                      arguments="%DART_APP%\%DART_SERVER_SOURCE_PATH%\bin\server.dart %HTTP_PLATFORM_PORT%"
                      startupTimeLimit="60"
                      stdoutLogEnabled="true"
                      stdoutLogFile="%HOME%\LogFiles\httpPlatformStdout.log" >
        </httpPlatform>
    </system.webServer>
</configuration>